.checkout {
  background-image: url("../background-image.jpg") ;
  min-height: 100vh;
  max-width: 1500px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  }
  
  .checkout h2{
      padding-top: 50px;
      padding-bottom: 20px;
      font-size: 20px;
      color: rgb(228, 228, 228);
  }
  
  hr {
      margin-bottom: 50px;
      border-color: rgb(228, 228, 228);
  }
  
  @media (max-width: 699px) {
  .checkout_right {
    display: none;
  }
  }
  
  @media (min-width: 700px) {
      .checkout_left {
        display: none;
      }
      }
  
  
  
  
  